<!DOCTYPE html>
<html lang="pt-br">
   <head>

   </head>
  <body>
     <form action="curriculo.php" method="POST">
        <h1>Currículo</h1>
        <h4>Dados Pessoais</h4>
        <p>Nome:<input type="text"></p></br>
        <p>Telefone:<input type="text"></p></br>
        <p>Email:<input type="text"></p></br>
        <p>Endereço:<input type="text"></p></br>
        <hr>
        <h4>Escolaridade</h4>
        Ensino Fundamental Completo<input type="checkbox"><br>
        Ensino Medio Completo<input type="checkbox"><br>
        Ensino Superior Completo<input type="checkbox"><br>
        Pos-Graduação Completo<input type="checkbox"><br>
        Mestrado Completo<input type="checkbox"><br>
        <hr>
        <h4>Experiencia Profissional</h4>
        <p>Empresa:<input type="text"></p></br>
        <p>Data de Admissão:<input type="text"></p></br>
        <p>Data de Demissão:<input type="text"></p></br>
        <p>Atividade Exercida:<input type="text"></p></br>
        <input type="submit" value="Cadastrar">
     </form>
  </body>
</html>
